<div class="container mt-3">
    <form [formGroup]="formularioCliente">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="">Nombre</label>
                    <input type="text" formControlName="nombre" class="form-control" placeholder="Agregue el nombre">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="">Apellido</label>
                    <input type="text" formControlName="apellido" class="form-control" placeholder="Agregue el apellido">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="">Correo</label>
                    <input type="email" formControlName="correo" class="form-control" placeholder="Agregue el correo">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="">Telefono</label>
                    <input type="tel" formControlName="telefono" class="form-control" placeholder="Agregue el telefono">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="">Fecha</label>
                    <input type="date" formControlName="fecha" class="form-control">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="">Foto</label>
                    <input type="file" (change)="subirImg($event)" formControlName="imgUrl" class="form-control-file" placeholder="Agregue su imagen">
                </div>
            </div>
            <div class="col-sm-12">
                <div class="mb-2"> 
                  <progressbar  [value]="porcentageSubida" type="danger" [striped]="true" [animate]="true"><i>{{porcentageSubida}}%</i></progressbar>
                </div>
              </div>
        </div>
        <button *ngIf="!esEditable" [disabled]="formularioCliente.invalid" (click)="agregar()" class="btn btn-primary">Agregar</button>
        <button *ngIf="esEditable" [disabled]="formularioCliente.invalid" (click)="editar()" class="btn btn-primary">Editar</button>
    </form>  
</div>

<ngx-spinner
bdOpacity = 0.9
bdColor = "#333"
size = "medium"
color = "#fff"
type = "pacman"
[fullScreen] = "true"
>
<p style="color: white" > Loading... </p>
</ngx-spinner> 